.box {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.light {
    background: #f2f2f2;
    color: #000;
}
.dark {
    background: #222;
    color: #fff;
}
.theme-container button {
    margin-right: 10px;
}