.shopping{
    width: 400px;
    margin: 0 auto;
}

.shopping-form{
    display: flex;
    width: 100%;
}
.shopping-form input{
    flex-grow: 1;
}

.shopping-filter{
    margin: 20px 0;
    text-align: right;
}

.shopping-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.shopping-item .right {
    display: flex;
    align-items: center;
    gap: 10px;
}
